* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header {
	padding: 1em;
}

main {
	padding: 1em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 300px;
	gap: 1em;
}

main > a {
	border: 1px solid dimgrey;
}
